@import "src/styles/vars";

.list {
    padding: 80px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;

    @include mobile {
        grid-template-columns: 1fr;
        padding: 20px 20px 80px 20px;
        row-gap: 30px;
    }
}

.work {
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info {
    margin-top: 12px;
    display: grid;
    gap: 4px;
}

.name {
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.45px;
    text-transform: uppercase;
}

.year {
    color: rgba(36, 36, 36, 0.40);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.24px;
}
