@import "src/styles/vars";

.layout {
    padding: 80px 20px 80px 0;

    @include desktopLg {
        padding: 120px 20px 120px 0;
    }

    @include mobile {
        padding: 10px 20px 96px 20px;
    }
}

.info {
    display: grid;
    gap: 32px;

    @include desktopLg {
        gap: 48px;
    }

    @include mobile {
        gap: 30px;
    }
}

.nameRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @include mobile {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: start;
    }
}

.name {
    @include textTrim;
    font-weight: 600;
    font-size: 20px;

    @include desktopLg {
        font-size: 30px;
    }

    @include mobile {
        font-size: 18px;
    }
}

.type {
    @include textTrim;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.7;

    @include desktopLg {
        font-size: 24px;
    }

    @include mobile {
        font-size: 14px;
    }
}

.description {
    @include textTrim;
    max-height: 166px;
    columns: 2 20px;
    column-fill: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    opacity: 0.5;

    @include desktopLg {
        max-height: 255px;
        font-size: 24px;
        line-height: 33px;
    }

    @include mobile {
        columns: 1;
        font-size: 14px;
        line-height: initial;
        max-height: none;
    }
}

.imageList {
    margin-top: 40px;
    display: grid;
    gap: 12px;

    @include desktopLg {
        margin-top: 60px;
        gap: 18px;
    }

    @include mobile {
        margin-top: 30px;
        gap: 16px;
    }
}

.image {
    width: 100%;
    object-fit: cover;
}
