@import "src/styles/vars";

.layout {
    padding: 72px 20px 80px 0;

    @include mobile {
        padding: 8px 20px 96px 20px;
    }
}

.info {
    display: grid;
    gap: 32px;

    @include mobile {
        gap: 30px;
    }
}

.name {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    text-transform: uppercase;

    @include mobile {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.6px;
        text-transform: uppercase;
    }
}

.type {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.7;

    @include mobile {
        font-size: 14px;
    }
}

.description {
    max-height: 166px;
    columns: 2 20px;
    column-fill: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    opacity: 0.5;

    @include mobile {
        columns: 1;
        font-size: 14px;
        line-height: initial;
        max-height: none;
    }
}

.imageList {
    margin-top: 65px;
    display: grid;
    gap: 60px;

    @include mobile {
        margin-top: 28px;
        gap: 24px;
    }
}

.image {
    width: 100%;
    object-fit: cover;
}

.section {
    display: grid;
    gap: 60px;

    @include mobile {
        gap: 24px;
    }
}

.sectionHeader {
    display: grid;
    grid-template-columns: 420px 1fr;
    justify-content: space-between;
    gap: 20px;

    @include mobile {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

.sectionHeaderName {
    font-size: 24px;
    font-weight: 600;
    line-height: 127%;
    letter-spacing: 0.72px;

    @include mobile {
        font-size: 18px;
        font-weight: 600;
        line-height: 127%;
        letter-spacing: 0.54px;
    }
}

.sectionHeaderText {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;

    @include mobile {
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;
    }
}