@import "src/styles/vars";

.arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 56px;
    height: 56px;

    background: $color-black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;

    @include desktopLg {
        width: 84px;
        height: 84px;
    }

    &:hover {
        background: white;
        box-shadow: 0px 0px 4px rgba(40, 40, 40, 0.14);

        svg path {
            fill: $color-black;
        }
    }

    svg {
        width: 24px;
        height: 24px;

        @include desktopLg {
            width: 36px;
            height: 36px;
        }
    }
}
