$color-black: #242424;
$color-black-hover: #9D9D9D;
$color-menu-link: rgba(36, 36, 36, 0.4);
$color-menu-link-hover: rgba(36, 36, 36, 0.3);

@mixin desktopLg {
  @media (min-width: 1920px) { @content; }
}

@function calcResponsiveSize($f-min, $f-max) {
  $k: calc(($f-max - $f-min)/(1920 - 1280));
  $b: $f-min - $k * 1280;

  $b: $b + px;

  @return calc( #{$k} * 100vw + #{$b} );
}