$color-black: #242424;
$color-black-hover: #9D9D9D;
$color-menu-link: rgba(36, 36, 36, 0.4);
$color-menu-link-hover: rgba(36, 36, 36, 0.3);

@mixin mobile {
  @media (max-width: 767px) { @content; }
}

@mixin desktopLg {
  @media (min-width: 1920px) { @content; }
}

@mixin textTrim {
  margin: -0.27em 0;
}
