@import "src/styles/vars";

.layout {
    display: grid;
    grid-template-columns: 230px auto;
    max-width: 1920px;
    margin: 0 auto;

    @include desktopLg {
        grid-template-columns: 340px auto;
    }

    @include mobile {
        display: block;
    }
}
