@import "src/styles/vars";

.navSwiper {

}

.navSlide {
    width: auto !important;
}

.worksSwiper {
    margin-top: 8px;
}

.worksSlide {
    min-height: calc(100vh - 120px) !important;
}

.category {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding: 12px 0;
    @include textTrim;

    color: rgba(36, 36, 36, 0.40);

    &.active {
        color: $color-black;
    }
}
