@import "src/styles/vars";

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 80px 20px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: grid;
    gap: 12px;
}

.name {
    @include textTrim;
    font-weight: 500;
}

.specialties {
    display: grid;
    gap: 6px;
}

.specialty {
    @include textTrim;

    color: $color-black-hover;
    font-weight: 300;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    margin-top: 170px;
}

.link {
    @include textTrim;

    &:hover {
        color: $color-black-hover;
    }
}

.menu {
    margin-top: auto;
    display: grid;
    gap: 20px;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.02em;
}

.menuLink {
    @include textTrim;
    color: $color-menu-link;

    &:hover:not(.active) {
        color: $color-menu-link-hover;
    }

    &.active {
        color: $color-black;
    }
}
